


/* Estilo para el contenedor de valores de divisas en tiempo real */
.container-values {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
  padding: 40px;
}

.col-md-6 {
  margin-left: 300px;
}
.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-left: 150px;
  width: 100%; /* Aseguramos que el contenedor ocupe todo el ancho disponible */
  max-width: 600px; /* Limitamos el ancho máximo del contenedor */
}

.card-title {
  color: #38b6b6; /* Verde agua */
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-text {
  font-size: 16px;
  margin-bottom: 5px;
}

/* Estilo para los resultados en el contenedor de valores de divisas en tiempo real */
#dolarValor,
#euroValor,
#yenValor,
#arsValor {
  font-weight: bold;
}

/* Estilo para los botones con hover */
.btn:hover {
  background-color: #1a8c8c; /* Cambia este color oscuro a tu gusto */
}

/* Estilo para los botones secundarios */
.btn-secondary {
  background-color: #f1f1f1; /* Color de fondo original para los botones secundarios */
  color: #555;
}

/* Estilo para los botones secundarios con hover */
.btn-secondary:hover {
  background-color: #dcdcdc; /* Cambia este color oscuro para los botones secundarios */
}